<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
       <div class="main-content">
          {{>header}}
          <P>This site create by soni singh!</P>
        <img src="img/pic.jpg">
        </div>
          
        {{>footer}}
    </body>

</html>